/* base.css */
/* Defines global layout, typography, and theming for the terminal interface */

/* Import primary font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    font-family: "DM Sans", sans-serif !important;
}

/* Body styles - Overall layout and theme */
body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
    background: var(--background-dark);
    color: var(--text-dark);
    font-family: var(--font-primary);
    transition: background 0.3s, color 0.3s;
    cursor: var(--custom-cursor);
}