/* ===================================================
    * base.css
    Base Styles - Global Layout, Typography, and Theme
    Defines the foundation for the terminal interface.
=================================================== */

/* Import primary font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi:wght@400&display=swap');

/* Body styles - Overall layout and theme */
body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
    background: var(--background-dark);
    color: var(--text-dark);
    font-family: var(--font-primary);
    transition: background 0.3s, color 0.3s;
    cursor: var(--custom-cursor);
}
