/* variables.css */
/* Declares global CSS variables for colors, fonts, and cursors */

:root { 
    /* Color Palette */
    --primary-color: #58a6ff;
    --background-dark: #0d1117;
    --background-light: #dcdcdc;
    --terminal-dark: #161b22;
    --terminal-light: #f5f5f5;
    --text-dark: #c9d1d9;
    --text-light: #333;

    /* Font Families */
    --font-primary: "DM Sans", sans-serif;
    --font-primary: "DM Sans", sans-serif;

    /* Custom Cursors */
    --custom-cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="transparent" stroke="%2358a6ff" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
    --custom-pointer: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%2358a6ff" stroke="%2358a6ff" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
}